@model Tarefas.Web.Models.TarefaViewModel

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<form asp-action="Create">

    @Html.ValidationSummary()

    
    <div class="form-group">
        <label asp-for="Titulo">@Html.DisplayNameFor(model => model.Titulo)</label>
        <input asp-for="Titulo" class="form-control" asp-validation-for/>
    </div>

    <div class="form-group">
        <label asp-for="Descricao">@Html.DisplayNameFor(model => model.Descricao)</label>
        <input asp-for="Descricao" class="form-control" asp-validation-for/>
    </div>

    <input type="submit" class="btn btn-primary" value="Enviar"/>
    
</form>



<a asp-controller="Tarefa" asp-action="Index">Voltar</a>