@model Tarefas.Web.Models.Tarefa

<form asp-action="Create">

   <div class="form-group">
        <label asp-for="Titulo">@Html.DisplayNameFor(model => model.Titulo)</label>
        <input asp-for="Titulo" class="form-control" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Descricao">@Html.DisplayNameFor(model => model.Descricao)</label>
        @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @readonly = "true" })
        <a asp-controller="Tarefa" asp-action="Index" asp-route-id="@Model.Id">Voltar</a>
    </div>
        
</form>